<section style="background-color: antiquewhite;
        background-image: url(https://cdn.pixabay.com/photo/2018/12/18/22/29/background-3883179_960_720.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 300px;">
  <div class="header">
    <div class="container">
      <div class="logo">
        <h1>
          <a [routerLink]="['/home']"
            ><b>T<br />H<br />E</b>Book Store<span>The Best Store Online</span></a
          >
        </h1>
      </div>

      <ul class="c">
        <li>
          <a [routerLink]="['/login']"
            ><i class="fa fa-user" aria-hidden="true"></i>Đăng Nhập</a
          >
        </li>

      </ul>

      <div class="header-ri">
        <ul class="social-top">
          <li>
            <a href="https://www.facebook.com/koolsssssss" class="icon facebook"
              ><i class="fa fa-facebook" aria-hidden="true"></i><span></span
            ></a>
          </li>
          <li>
            <a href="https://www.facebook.com/hung.lu1998" class="icon twitter"
              ><i class="fa fa-twitter" aria-hidden="true"></i><span></span
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--Menu-->
  <div class="container">
    <nav class="navbar navbar-expand-lg border-bottom" >
      <a class="navbar-brand" style="font-size: 24px; color: antiquewhite; margin-right: 0px;" [routerLink]="['/home']"><i class="fas fa-book"style="padding-top: 30px;" ></i></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="nav-top mr-auto">
          <nav class="navbar navbar-default ">
            <div class="ccc">
              <ul class="nav navbar-nav">
                <li >
                  <a [routerLink]="['/home']" class="hyper"
                    ><span>Trang Chủ</span></a
                  >
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"
                    ><span>Thể loại<b class="caret"></b></span
                  ></a>
                  <ul class="dropdown-menu multi">
                    <div class="row">
                      <div class="col-sm-3" *ngFor="let cate of cates1">
                        <ul class="multi-column-dropdown">
                          <li>
                            <a
                              routerLink="/books/{{ cate._id }}/categories/{{
                                cate.name
                              }}"
                              ><i class="fa fa-angle-right" aria-hidden="true"></i
                              >{{ cate.name }}</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"
                    ><span> Nhà Xuất Bản <b class="caret"></b></span
                  ></a>
                  <ul class="dropdown-menu multi multi1">
                    <div class="row">
                      <div class="col-sm-3" *ngFor="let pub of pubs">
                        <ul class="multi-column-dropdown">
                          <li>
                            <a
                              routerLink="/books/{{ pub._id }}/publishers/{{
                                pub.name
                              }}"
                              ><i class="fa fa-angle-right" aria-hidden="true"></i
                              >{{ pub.name }}
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"
                    ><span>Tác Giả<b class="caret"></b></span
                  ></a>
                  <ul class="dropdown-menu multi multi2">
                    <div class="row">
                      <div class="col-sm-3" *ngFor="let aut of auts">
                        <ul class="multi-column-dropdown">
                          <li>
                            <a
                              routerLink="/books/{{ aut._id }}/authors/{{
                                aut.name
                              }}"
                              ><i class="fa fa-angle-right" aria-hidden="true"></i
                              >{{ aut.name }}</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ul>
                </li>
                <li class="dropdown">
                  <a [routerLink]="['/books']" class="dropdown-toggle hyper" data-toggle="dropdown"
                    ><span> Tất Cả Sách </span
                  ></a>
                </li>
                <li class="dropdown">
                  <a [routerLink]="['/sale']" class="dropdown-toggle hyper" data-toggle="dropdown"
                    ><span> Ưu Đãi </span
                  ></a>
                  <div class="offer-menu" >
                    <p><span>Giảm giá</span></p>
                  </div>
                </li>
              </ul>

            </div>
          </nav>
        </div>

        <div class="cart">
          <a [routerLink]="['/cart']"
            ><span class="fa fa-shopping-cart my-cart-icon"
              >(<small>{{ countItem }}</small
              >)</span
            ></a
          >
        </div>

      </div>

    </nav>



    </div>

</section>

<div class="container-custom">
  <div class="abc" >
    <div class="row">
      <div class="user col-2">
        <div class="user-name" >
          <p >{{user.name}}</p>
          <p>{{user.phone}}</p>
        </div>
        <div class="menu-user" style="padding-top: 10px;">
          <i class="fas fa-users-cog pr-2"> </i><a style="color: rgb(96, 60, 224); " routerLink="/setting/profile">Hồ sơ</a>
        </div>
        <div class="menu-user">
          <i class="far fa-newspaper pr-2"> </i><a style="color: rgb(116, 42, 165);" routerLink="/setting/order">Đơn hàng</a>
        </div>
        <div class="menu-user">
          <i class="fas fa-sign-out-alt pr-2"> </i><a style="color: rgb(233, 39, 39);" data-toggle="modal" data-target="#exampleModal" routerLink="">Đăng xuất</a>
        </div>
      </div>

      <div class="col-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 700; color: crimson; font-size: 24px;">Thông báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn muốn đăng xuất tài khoản?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="logout()" data-dismiss="modal">Có</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

      </div>
    </div>
  </div>
</div>
