<div class="contain-custom">
  <div>
    <a style="font-weight: 500; color:black" routerLink="/admin/statistics"><i class="fas fa-angle-double-left" ></i> Thống kê</a>
  </div>
  <div style="margin-right: 50px; margin-left: 50px">
    <h1 style="padding-top: 1 0px; text-align: center;">Doanh thu theo ngày</h1>
    <div class="ser-t">
      <b></b>
      <span><i></i></span>
      <b class="line"></b>
    </div>
  </div>
  <div class="cart-row">
    <div class="date-search">

        <div class="input-group" style="width: 450px">
          <input #t type="date" class="form-control"  (change)="selected(t.value)" >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="selected(t.value)" ><i class="fas fa-search"></i></button>
          </div>
        </div>

    </div>
  </div>

  <div class="row" style="margin-bottom: 20px;" *ngIf="!messStatError">

    <div class="col-sm-4">
      <div class="cart-item" style="background-color: rgb(100, 237, 134);">
        <div class="row">
          <div class="col-4">
            <div div class="icon-item">
              <i class="fas fa-cubes"></i>
            </div>

          </div>
          <div class="col-8" >
            <div class="data-item">
              <p class="p1">{{statDay.totalBill}}</p>
              <p class="p2">Đơn hàng</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="cart-item" style="background-color: rgb(237, 100, 141);">
        <div class="row">
          <div class="col-4">
            <div div class="icon-item">
              <i class="fas fa-dollar-sign"></i>
            </div>

          </div>
          <div class="col-8" >
            <div class="data-item">
              <p class="p1">{{statDay.totalRevenue}} vnđ</p>
              <p class="p2">Doanh thu</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="cart-item" style="background-color: rgb(100, 187, 237);">
        <div class="row">
          <div class="col-4">
            <div div class="icon-item">
              <i class="fas fa-hand-holding-usd"></i>
            </div>

          </div>
          <div class="col-8" >
            <div class="data-item">
              <p class="p1">{{statDay.totalProfit}} vnđ</p>
              <p class="p2">Lợi nhuận</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="text-align: center;" *ngIf="messStatError">
    <span>Chưa có dữ liệu thống kê!</span>
  </div>
  <div class="row" *ngIf="!messStatError">
    <div class="col-sm-6 ">
      <!-- BarChart -->
      <div style="display: block;" class="item-chart" *ngIf="barChartData" >
        <div style="text-align: center; padding-top: 10px; font-weight: 500; font-size: 20px;">Doanh thu - Lợi nhuận(vnđ)</div>
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </div>
    <!-- PieChart -->
    <div class="col-sm-6 ">

      <div style="display: block;" class="item-chart" *ngIf="pieChartData">
        <div style="text-align: center; padding-top: 10px; font-weight: 500; font-size: 20px">Hình thức thanh toán</div>
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>

  <div style="margin-top: 30px; margin-bottom: 20px" *ngIf="!messStatError">
    <table
      class="table table-bordered table-striped table-hover table-responsive-lg"
    >
      <thead style="background-color: rgb(148, 202, 219)">
        <tr>
          <th>No.</th>
          <th>Tên khách</th>
          <th>Số điện thoại</th>
          <th>Thanh toán</th>
          <th>Ngày giao</th>
          <th>Giá tiền(vnđ)</th>
          <th>Lợi nhuận(vnđ)</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let stat of statDay.totalOrderDetail | paginate: config; let i = index">
          <td>{{ i + 1 }}</td>
          <td class="text-info font-weight-bold">{{ stat.name }}</td>
          <td>{{ stat.phone }}</td>
          <td [ngSwitch]="stat.isPaid" style="font-size: 16px; font-weight: 600;">
            <span *ngSwitchCase="true" style="color: coral;">PayPal</span>
            <span *ngSwitchCase="false" style="color: rgb(63, 212, 44);">Trực tiếp</span>
          </td>
          <td>{{ stat.completedDay }}</td>
          <td>{{ stat.Revenue }}</td>
          <td>{{ stat.Profit }}</td>

        </tr>
      </tbody>

    </table>
    <pagination-controls
      style="text-align: center"
      (pageChange)="pageChanged($event)" *ngIf="statDay.totalOrderDetail.length>10"
    ></pagination-controls>
  </div>

  </div>
