<div class="cus-container">


<div style="margin-right: 50px; margin-left: 50px">
  <h1 style="padding-top: 30px">Thống Kê</h1>
  <div class="ser-t">
    <b></b>
    <span><i></i></span>
    <b class="line"></b>
  </div>
</div>

<div class="mid">
  <div class="mid-1">
    <div class="title">
      <span >Thống kê doanh thu theo ngày/tháng/năm</span>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <button class="btn btn-outline-secondary btnStat" type="button" routerLink="/admin/statistics/day"> <i class="fas fa-chart-bar"></i> Doanh thu theo ngày</button>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-outline-secondary btnStat" type="button" routerLink="/admin/statistics/month"> <i class="fas fa-chart-bar"></i> Doanh thu theo tháng</button>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-outline-secondary btnStat" type="button" routerLink="/admin/statistics/year" > <i class="fas fa-chart-bar"></i> Doanh thu theo năm</button>
      </div>
    </div>
  </div>

  <div class="mid-2">
    <div class="row">
      <div class="col-sm-3 mid-3">
        <div class="title-2">
          <span >Thống kê khách hàng</span>
        </div>
        <div>
          <button class="btn btn-outline-secondary btnStat-2" type="button" routerLink="/admin/statistics/customer">
            <i class="fas fa-chart-pie"></i> Thống kê chi tiêu khách hàng</button>
        </div>
      </div>
      <div class="col-sm-3 mid-3">
        <div class="title-2">
          <span >Thống kê sản phẩm </span>
        </div>
        <div>
          <button class="btn btn-outline-secondary btnStat-2" type="button" routerLink="/admin/statistics/product">
            <i class="fas fa-chart-pie"></i> Thống kê doanh thu sản phẩm</button>
        </div>
      </div>
    </div>
  </div>

</div>




</div>
