<div class="contain-custom">
  <div class="cart-row">
    <div class="date-search">

        <div class="input-group" style="width: 450px">
          <input #t type="date" class="form-control" >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"  ><i class="fas fa-search"></i></button>
          </div>
        </div>

    </div>
  </div>

  <div class="row" style="margin-bottom: 20px;">
    <div class="col-sm-3">
      <div class="cart-item">
        <div class="row">
          <div class="col-4">
            <div div class="icon-item">
              <i class="fas fa-user-check"></i>
            </div>

          </div>
          <div class="col-8" >
            <div class="data-item">
              <p class="p1">50</p>
              <p class="p2">Khách hàng</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="cart-item" style="background-color: cornflowerblue;">
        <div class="row">
          <div class="col-4">
            <div div class="icon-item">
              <i class="fas fa-user-plus"></i>
            </div>

          </div>
          <div class="col-8" >
            <div class="data-item">
              <p class="p1">10</p>
              <p class="p2">Khách hàng mới</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="cart-item" style="background-color: rgb(100, 237, 134);">
        <div class="row">
          <div class="col-4">
            <div div class="icon-item">
              <i class="fas fa-cubes"></i>
            </div>

          </div>
          <div class="col-8" >
            <div class="data-item">
              <p class="p1">250</p>
              <p class="p2">Đơn hàng</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="cart-item" style="background-color: rgb(237, 100, 141);">
        <div class="row">
          <div class="col-4">
            <div div class="icon-item">
              <i class="fas fa-hand-holding-usd"></i>
            </div>

          </div>
          <div class="col-8" >
            <div class="data-item">
              <p class="p1">7000000 đ</p>
              <p class="p2">Doanh thu</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 ">
      <!-- BarChart -->
      <div style="display: block;" class="item-chart">
        <div style="text-align: center; padding-top: 10px; font-weight: 500; font-size: 20px;">Tình trạng đơn hàng</div>
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </div>
    <!-- PieChart -->
    <div class="col-sm-6 ">

      <div style="display: block;" class="item-chart">
        <div style="text-align: center; padding-top: 10px; font-weight: 500; font-size: 20px">Hình thức thanh toán</div>
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>
    <div class="row" style="padding-top: 2em;">
      <div class="col-sm-6  ">
        <!-- LineChart -->
        <div style="display: block;" class="item-chart">
          <div style="text-align: center; padding-top: 10px; font-weight: 500; font-size: 20px">Tổng doanh thu</div>
          <canvas baseChart  [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
            [chartType]="lineChartType" [plugins]="lineChartPlugins">
          </canvas>

        </div>
      </div>
      <!-- PieChart -->
      <div class="col-sm-6 ">
        <div style="display: block;" class="item-chart">
          <div style="text-align: center; padding-top: 10px; font-weight: 500; font-size: 20px">Hình thức thanh toán</div>
          <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
            [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
    </div>

  </div>
