<div style="margin-right: 50px; margin-left: 50px">
  <h1 style="margin-top: 30px">Danh Sách Tác Giả</h1>
  <div class="ser-t">
    <b></b>
    <span><i></i></span>
    <b class="line"></b>
  </div>
  <div style="margin-top: 40px;">
    <div class="row">
      <div class="col-sm-8">
        <div class="input-group" style="width: 450px">
          <input #t type="text" class="form-control" placeholder="Tìm kiếm tên tác giả" aria-label="Tìm kiếm tên tác giả" >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"  (click)="search(t.value)"><i class="fas fa-search"></i></button>
            <button class="btn btn-outline-primary" type="button" (click)="reload()"><i class="fas fa-redo"></i></button>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <button class="btn btn-success btn-circle pull-right mr-1 pl-0 pr-0" style="width: 120px; font-size: 18px;"
        title="Thêm sách" type="submit" data-toggle="modal" data-target="#modalAddAuthor">
        Tạo mới <i class="fas fa-plus"></i>
      </button>
      </div>
    </div>
  </div>

  <div style="margin-top: 10px; margin-bottom: 30px;" class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-responsive-lg">
      <thead style="background-color: rgb(163, 197, 241);">
        <tr>
          <th style="width: 50px">No.</th>
          <th style="width: 600px">Tác Giả</th>
          <th>Họ</th>
          <th>Tên</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody *ngIf="!messError">
        <tr *ngFor="let au of authors | paginate: config; let i = index">
          <td>{{ i + 1 }}</td>
          <td class="text-info font-weight-bold">{{ au.name }}</td>
          <td>{{ au.firstname }}</td>
          <td>{{ au.lastname }}</td>
          <td style="width: 90px">
            <i
              class="fas fa-edit text-warning"
              style="margin-right: 10px"
              title="Chỉnh sửa" (click)="getAuthor(au._id)"
              data-toggle="modal" data-target="#ModalEditAuthor"
            ></i>
            <i
              class="fas fa-trash text-danger"
              data-toggle="modal" data-target="#ModalDelAuthor" title="Xóa" (click)="getAuthor(au._id)"
            ></i>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="messError">
        <td colspan ="5" style="text-align: center;padding: 30px; font-size: 16px;" >
          <span >Không có kết quả</span>
        </td>
      </tbody>
    </table>
    <pagination-controls
      style="text-align: center"
      (pageChange)="pageChanged($event)" *ngIf="authors.length>15"
    ></pagination-controls>
  </div>
</div>

<!-- Modal AddAuthor -->
<div class="modal fade" id="modalAddAuthor" tabindex="-1" aria-labelledby="modalAddAuthorLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddAuthorLabel" style="font-weight: 700; font-size: 24px;">Thêm tác giả</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="info-body">
          <p>Nhập họ tên tác giả mới:</p>
          <input #name1 type="text" class="form-control" placeholder="Nguyễn nhật ánh" />
          <p>Nhập họ:</p>
          <input #firstname1 type="text" class="form-control" placeholder="Nguyễn" />
          <p>Nhập tên:</p>
          <input #lastname1 type="text" class="form-control" placeholder="Ánh" />

        </div>
        <div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="save(name1.value,firstname1.value,lastname1.value)" data-dismiss="modal">Thêm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

      </div>
    </div>
  </div>
</div>

<!-- Modal EditAuthor -->
<div class="modal fade" id="ModalEditAuthor" tabindex="-1" aria-labelledby="ModalEditAuthorLabel" aria-hidden="true" #id>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalEditAuthorLabel" style="font-weight: 700; font-size: 24px;">Chỉnh sửa tác giả
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="info-body">
          <p>Nhập tên tác giả thay đổi</p>
          <input #name type="text" class="form-control" [(ngModel)]="author.name" />
          <p>Nhập họ:</p>
          <input #firstname type="text" class="form-control" [(ngModel)]="author.firstname" />
          <p>Nhập tên:</p>
          <input #lastname type="text" class="form-control" [(ngModel)]="author.lastname"/>
        </div>
        <div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="Edit()" data-dismiss="modal">Lưu</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

      </div>
    </div>
  </div>
</div>


<!-- Modal DelCat -->
<div class="modal fade" id="ModalDelAuthor" tabindex="-1" aria-labelledby="ModalDelAuthorLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalDelAuthorLabel" style="font-weight: 700; font-size: 24px;">Xóa thể loại
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="info-body">
          <p>Bạn có chắc muốn xóa tác giả <span style="font-size: 18px; color: crimson;">{{author.name}}</span> ?</p>

        </div>
        <div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="delete(author._id)" data-dismiss="modal">Có</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

      </div>
    </div>
  </div>
</div>
