.navbar {
  background-color: rgb(71, 71, 70);
  margin-top: 4px;
}
a{
  color: aliceblue;
  font-size: 18px;
}
h1{
  text-align: center;
  margin-top: 10px;
  font-weight: bolder;
}
.ser-t {
  text-align: center;
  margin: 0 auto;
  width: 20%;
  position: relative;
  margin-bottom: 20px;
}
.ser-t b{
	width: 100%;
    height: 2px;
    display: block;
    background: #039445;
    margin-bottom: 3px;
}
.ser-t b.line{
	width: 80%;
	margin:0 auto;
}
.info-body{
  padding-bottom: 20px;
  padding-top: 20px;
}
.info-body p{
  padding-bottom: 5px;
  margin-bottom: 0px;
  color: rgb(84, 68, 155);
  font-weight: 500;
  font-size: 18px;
}
.info-body input{

  border-color: rgb(84, 68, 155);
  font-weight: 500;
}
