/* You can add global styles to this file, and also import other style files */
.ngx-pagination {
  margin-bottom: 0 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-label {
  background-color: white;
  color: rgb(153, 45, 135);
  font-size: 18px;

}
.mat-tab-body-content{
  background-color: whitesmoke;

}

.snackbarConfig {
  background-color: rgb(127, 218, 127);
  height: 50px;
  font-size: 18px;
  color:rgb(83, 32, 165);
}
.snackbarErrorConfig{
  background-color: rgb(229, 233, 216);
  height: 50px;
  color:rgb(190, 10, 10);
}
.snackbarErrorConfig span{
  font-size: 16px;
}
.snackbarConfig1 {
  background-color: rgb(47, 194, 54);
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  color:white
}
.snackbarConfig span{
  font-size: 16px;
}
.snackbarConfig1 span{
  font-size: 16px;
}
.snackbarErrorConfig.mat-snack-bar-container{
  background: rgb(238, 50, 50);
  color: aliceblue;
}
/* .mat-button{
  background-color: aliceblue;
} */
.snackbarErrorConfig.mat-snack-bar-container .mat-button{
  background-color: rgb(231, 214, 201);
}
.snackbarConfig1.mat-snack-bar-container .mat-button{
  background-color: rgb(231, 214, 201);
}
