/* You can add global styles to this file, and also import other style files */
.ngx-pagination {
  margin-bottom: 0 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-label {
  background-color: white;
  color: rgb(153, 45, 135);
  font-size: 18px;

}
.mat-tab-body-content{
  background-color: whitesmoke;

}

.snackbarConfig {
  background-color: rgb(127, 218, 127);
  height: 50px;
  font-size: 18px;
  color:black;
}
.snackbarErrorConfig{
  background-color: rgb(231, 141, 88);
  height: 50px;

  color:black;
}
