
<div class="cus-container">
  <mat-tab-group >
    <mat-tab label="Tất cả">
       <div class="item" >
          <div class="row mr-0 ml-0" >
            <div class="col-auto">
              <div class="img-responsive">
                <img src="https://www.vexels.com/media/users/3/217997/isolated/thumb/d439a251f09dee321022fbed116d0cfc-gift-box-illustration-design-by-vexels.png"  alt="" />
              </div>
            </div>
            <div class="col-7 pl-0 mr-auto pt-1">
              <div class="title">Mã: HD01111
              </div>
              <div class="price pt-2">Ngày tạo: 1
              </div>
            </div>
            <div class="col-auto pt-1">
              <div>
                Đang giao
              </div>
              <div style="padding-top: 30px; text-align: right;">
                Tien
              </div>
            </div>
          </div>
          <div class="bt-detail text-right">
            <button class="btn btn-outline-danger">Xem chi tiết</button>
          </div>
       </div>

       <div class="item" >
        <div class="row mr-0 ml-0" >
          <div class="col-auto">
            <div class="img-responsive">
              <img src="https://www.vexels.com/media/users/3/217997/isolated/thumb/d439a251f09dee321022fbed116d0cfc-gift-box-illustration-design-by-vexels.png"  alt="" />
            </div>
          </div>
          <div class="col-7 pl-0 mr-auto pt-1">
            <div class="title">Mã: HD01111
            </div>
            <div class="price pt-2">Ngày tạo: 1
            </div>
          </div>
          <div class="col-auto pt-1">
            <div>
              Đang giao
            </div>
            <div style="padding-top: 30px; text-align: right;">
              Tien
            </div>
          </div>
        </div>
        <div class="bt-detail text-right">
          <button class="btn btn-outline-danger">Xem chi tiết</button>
        </div>
     </div>
    </mat-tab>

    <mat-tab label="Chờ xác nhận"> Content 1 </mat-tab>
    <mat-tab label="Đang lấy hàng"> Content 2 </mat-tab>
    <mat-tab label="Đang giao"> Content 3 </mat-tab>
    <mat-tab label="Đã giao"> Content 4 </mat-tab>
    <mat-tab label="Đã hủy"> Content 4 </mat-tab>
  </mat-tab-group>
</div>
