<section style="background-color: antiquewhite;
        background-image: url(https://cdn.pixabay.com/photo/2018/12/18/22/29/background-3883179_960_720.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 300px;">
  <div class="header">
    <div class="container">
      <div class="logo">
        <h1>
          <a [routerLink]="['/home']"><b>T<br />H<br />E</b>Book Store<span>The Best Store Online</span></a>
        </h1>
      </div>

      <ul class="c">
        <li>
          <a [routerLink]="['/login']"><i class="fa fa-user" aria-hidden="true"></i>Đăng Nhập</a>
        </li>

      </ul>

      <div class="header-ri">
        <ul class="social-top">
          <li>
            <a href="https://www.facebook.com/koolsssssss" class="icon facebook"><i class="fa fa-facebook"
                aria-hidden="true"></i><span></span></a>
          </li>
          <li>
            <a href="https://www.facebook.com/hung.lu1998" class="icon twitter"><i class="fa fa-twitter"
                aria-hidden="true"></i><span></span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--Menu-->
  <div class="container">
    <nav class="navbar navbar-expand-lg border-bottom">
      <a class="navbar-brand" style="font-size: 24px; color: antiquewhite; margin-right: 0px;"
        [routerLink]="['/home']"><i class="fas fa-book" style="padding-top: 30px;"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="nav-top mr-auto">
          <nav class="navbar navbar-default ">
            <div class="ccc">
              <ul class="nav navbar-nav">
                <li>
                  <a [routerLink]="['/home']" class="hyper"><span>Trang Chủ</span></a>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span>Thể loại<b
                        class="caret"></b></span></a>
                  <ul class="dropdown-menu multi">
                    <div class="row">
                      <div class="col-sm-3" *ngFor="let cate of cates1">
                        <ul class="multi-column-dropdown">
                          <li>
                            <a routerLink="/books/{{ cate._id }}/categories/{{
                                cate.name
                              }}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ cate.name }}</a>
                          </li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span> Nhà Xuất Bản <b
                        class="caret"></b></span></a>
                  <ul class="dropdown-menu multi multi1">
                    <div class="row">
                      <div class="col-sm-3" *ngFor="let pub of pubs">
                        <ul class="multi-column-dropdown">
                          <li>
                            <a routerLink="/books/{{ pub._id }}/publishers/{{
                                pub.name
                              }}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ pub.name }}
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span>Tác Giả<b
                        class="caret"></b></span></a>
                  <ul class="dropdown-menu multi multi2">
                    <div class="row">
                      <div class="col-sm-3" *ngFor="let aut of auts">
                        <ul class="multi-column-dropdown">
                          <li>
                            <a routerLink="/books/{{ aut._id }}/authors/{{
                                aut.name
                              }}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ aut.name }}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ul>
                </li>
                <li class="dropdown">
                  <a [routerLink]="['/books']" class="dropdown-toggle hyper" data-toggle="dropdown"><span> Tất Cả Sách
                    </span></a>
                </li>
                <li class="dropdown">
                  <a [routerLink]="['/sale']" class="dropdown-toggle hyper" data-toggle="dropdown"><span> Ưu Đãi
                    </span></a>
                  <div class="offer-menu">
                    <p><span>Giảm giá</span></p>
                  </div>
                </li>
              </ul>

            </div>
          </nav>
        </div>

        <div class="cart">
          <a [routerLink]="['/cart']"><span class="fa fa-shopping-cart my-cart-icon">(<small>{{ countItem
                }}</small>)</span></a>
        </div>

      </div>

    </nav>



  </div>

</section>
<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
  </span>
</ng-template>
<div class="content-top">
  <div class="container">
    <div class="col-m">
      <div class="row">
        <div class="col-5">
          <a class="offer-img">
            <img src="{{ books.imageUrl }}" class="img-responsive" alt="" />
          </a>
        </div>

        <div class="col-7">
          <div class="single-right">
            <h3>{{ books.title }}</h3>
            <div class="row" style="margin-left: 0px;" *ngIf="rating.message == null">
              <ngb-rating rate="{{rating.average}}" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
              <div class="number-rate">
                ({{rating.total}} đánh giá)
              </div>
            </div>
            <div class="row" style="margin-left: 0px;" *ngIf="rating.total == null">
              <ngb-rating rate="0" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
              <div class="number-rate" *ngIf="mess == null">
                (0 đánh giá)
              </div>
            </div>

            <div class="author">
              <div class="row" style="margin-left: 0px;">
                <span style="margin-right: 3px; font-size: 18px;">Tác giả: </span>
                <div class="more">
                  <a routerLink="/books/{{ books.author._id }}/authors/{{books.author.name}}  "> {{ author.name }}</a>
                </div>
              </div>

            </div>

            <div class="mid-2" *ngIf="books.price !== 0">
              <p class="price1" *ngIf="books.discount === '0'">{{ books.price }} đ</p>
              <p class="price" *ngIf="books.discount !== '0'">
                <label>{{ books.price }} đ</label><em class="item_price">{{ books.discount }} đ</em>
              </p>

            </div>

            <div class="coming-img" style="text-align: center; padding-top: 23px;" *ngIf="books.price == 0">
              <img
                src="https://media.istockphoto.com/vectors/red-rubber-stamp-icon-on-transparent-background-vector-id919297480?b=1&k=6&m=919297480&s=612x612&w=0&h=gkCjvO2o195wYTLNiVKD-7VkajMzgj-_AOmLTmmrL8g="
                alt="" width="" height="">
            </div>

            <div class="add-cart" *ngIf="books.price !== 0">
              <button class="btn btn-danger my-cart-btn my-cart-b" (click)="AddtoCart(books._id)">
                Thêm Giỏ Hàng
              </button>
            </div>






          </div>
        </div>
      </div>



    </div>

    <div class="descript">
      <p class="title">Thông tin chi tiết</p>
      <div class="table-detail">
        <div class="row" style="font-size: 18px;">
          <div class="col-3">
            Nhà xuất bản
          </div>
          <div class="col-9">
            {{books.publisher.name}}
          </div>
          <div class="col-3">
            Ngày xuất bản
          </div>
          <div class="col-9">
            {{books.publishDate | date:"dd/MM/yyyy"}}
          </div>
          <div class="col-3">
            Số trang
          </div>
          <div class="col-9">
            {{books.pageCount}}
          </div>
          <div class="col-3">
            Thể loại
          </div>
          <div class="col-9 row" style="margin-left: 0px;">
            <p class="catArray" *ngFor="let cat of cates">"{{cat.name}}"</p>
          </div>
        </div>
      </div>
    </div>

    <div class="descript">
      <p class="title">Mô tả sản phẩm</p>
      <p class="in-pa">{{ books.description }}</p>
    </div>

    <div class="descript">
      <div *ngIf="current">
        <p class="title">Nhận xét
        </p>
        <div class="col-e">
          <div class="rate">
            <h5 style="font-weight: normal;">
              Bình chọn: <span class="heart">
                <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [max]="5"></ngb-rating>
              </span>
            </h5>
          </div>
          <textarea #comment class="form-control" placeholder="nhập bình luận.."></textarea>

        </div>
        <div class="submitRating">
          <button class="btn btn-outline-danger" style="float: right;" (click)="save(comment.value)" tyle="button">
            Gửi nhận xét
          </button>
        </div>
      </div>

      <div class="nologin_noreview" *ngIf="!current">
        <a routerLink="/login"> Đăng nhập</a> để có thể nhận xét.
      </div>


      <div class="showReview">
        <p class="title">Khách hàng đã nhận xét
          <span class="in-pa" *ngIf="rating.message == null">(hiện có {{rating.total}} lượt đánh giá)</span>
          <span class="in-pa" *ngIf="rating.total == null">(hiện có 0 lượt đánh giá)</span>
        </p>
      </div>
      <div *ngFor="let each of reviews; let i = index">
        <p class="reduced1">
          <i class="fas fa-user" style="margin-right: 5px"></i>Người Ẩn
          Danh({{ i }})
        </p>
        <p class="reduced3">
          {{ each.review }}
          &hearts;
        </p>
        <div class="col-n">
          <p class="reduced2">Bình Luận: {{ each.comment }}</p>
        </div>
      </div>
    </div>
    <div>



    </div>
  </div>
</div>
