<section style="
    background: linear-gradient(
      90deg,
      rgba(31, 126, 126, 1) 0%,
      rgba(13, 75, 75, 1) 23%,
      rgba(14, 47, 47, 1) 52%,
      rgba(13, 63, 69, 1) 74%,
      rgba(21, 129, 150, 1) 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 200px;
  ">
  <div class="header" style="padding-top: 20px">
    <div class="container">
      <div class="logo">
        <h1>
          <a [routerLink]="['/home']"><b>T<br />H<br />E</b>Book Store<span>The Best Store Online</span></a>
        </h1>
      </div>

      <ul class="c" style="padding-left: 0px; margin-bottom: 0px">
        <li>
          <a [routerLink]="['/home']"><i class="fa fa-home" aria-hidden="true"></i>Trang chủ</a>
        </li>
      </ul>

      <div class="header-ri">
        <ul class="social-top" style="padding-left: 0px">
          <li>
            <a href="https://www.facebook.com/koolsssssss" class="icon facebook"><i class="fa fa-facebook"
                aria-hidden="true"></i><span></span></a>
          </li>
          <li>
            <a href="https://www.facebook.com/hung.lu1998" class="icon twitter"><i class="fa fa-twitter"
                aria-hidden="true"></i><span></span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--Menu-->
</section>

<!--login-->

<div class="body-all h-100 ">
  <div class="login-div pt-5">
    <div class="container d-flex justify-content-center">
          <div class="card">
            <div class="card-header bg-white" style="text-align: center;">Khôi phục mật khẩu</div>
            <div class="card-body mx-3">
              <form #forgotPasswordForm="ngForm" appIdentityRevealed>
                <div class="cross-validation"
                  [class.cross-validation-error]="forgotPasswordForm.errors?.identityRevealed && (forgotPasswordForm.touched || forgotPasswordForm.dirty)">
                  <div class="form-group row mb-0">
                    <label for="input5" class="col-form-label pb-0" style="font-size: 18px; color: rgb(56, 23, 10); font-weight: 500;">Tên tài khoản(email)</label>
                      <div class="input-group mb-0">
                        <input type="email" class="form-control" placeholder="Nhập email"  aria-describedby="basic-addon2"
                        id="email" name="email" [(ngModel)]="forgotPassword.email" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
                        <div class="input-group-append">
                          <button type="button" class="btn btn-outline-danger" (click)="sendCode(email.value)">Gửi mã</button>
                        </div>
                      </div>
                      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger pt-1"
                        style="font-size: 14px;">

                        <div *ngIf="email.errors.required">
                          Vui lòng nhập email.
                        </div>
                        <div *ngIf="email.errors.pattern">
                          Nhập đúng định dạng email. vd: abc@gmail.com
                      </div>
                      </div>
                  </div>
                </div>

                <div class="cross-validation"
                [class.cross-validation-error]="forgotPasswordForm.errors?.identityRevealed && (forgotPasswordForm.touched || forgotPasswordForm.dirty)">
                  <div class="form-group row mb-0 mt-2">
                    <label for="inputCode" class="col-form-label pb-0" style="font-size: 18px; color: rgb(17, 48, 8); font-weight: 500;">Mã xác nhận</label>
                      <input type="text" class="form-control" id="inputCodde"  placeholder="Nhập mã xác nhận"
                      name="code" [(ngModel)]="forgotPassword.code"
                      #code="ngModel" required minlength="8" maxlength="8"  />
                      <div *ngIf="code.invalid && (code.dirty || code.touched)" class="text-danger pt1"
                      style="font-size: 14px;">
                      <div *ngIf="code.errors.required">
                        Vui lòng nhập mã xác nhận.
                      </div>
                      <div *ngIf="code.errors.maxlength">
                        Mã gồm 8 kí tự
                      </div>
                      <div *ngIf="code.errors.minlength">
                        Mã gồm 8 kí tự
                      </div>
                    </div>
                  </div>

                </div>

                <div class="cross-validation"
                [class.cross-validation-error]="forgotPasswordForm.errors?.identityRevealed && (forgotPasswordForm.touched || forgotPasswordForm.dirty)">
                  <div class="form-group row mb-0 mt-2" >
                    <label  class="col-form-label pb-0" style="font-size: 18px; color: coral; font-weight: 500;">Mật khẩu mới</label>
                      <input type="password" class="form-control" placeholder="Nhập mật khẩu mới" name="password" [(ngModel)]="forgotPassword.password"
                      #password="ngModel" required minlength="8" maxlength="16" />
                      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger pt1"
                      style="font-size: 14px;">
                      <div *ngIf="password.errors.required">
                        Vui lòng nhập mật khẩu
                      </div>
                      <div *ngIf="password.errors.maxlength">
                        Mật khẩu từ 8 đến 16 kí tự
                      </div>
                      <div *ngIf="password.errors.minlength">
                        Mật khẩu từ 8 đến 16 kí tự
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cross-validation"
                [class.cross-validation-error]="forgotPasswordForm.errors?.identityRevealed && (forgotPasswordForm.touched || forgotPasswordForm.dirty)">
                  <div class="form-group row mb-0 mt-2" >
                    <label for="inputconfirm" class="col-form-label pb-0" style="font-size: 18px; color: coral; font-weight: 500;">Xác nhận mật khẩu</label>
                      <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="forgotPassword.confirmPassword"
                      #confirmPassword="ngModel" required />
                      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="text-danger pt1"
                      style="font-size: 14px;">
                      <div *ngIf="confirmPassword.errors.required">
                        Vui lòng xác nhận mật khẩu.
                      </div>
                    </div>
                  </div>
                </div>



                <div class="row" style="padding-top: 50px;">
                  <button type="submit" class="btn btn-warning text-light btn-block"
                  (click)="ChangePassword()" style="font-size: 18px;" [disabled]="forgotPasswordForm.invalid">Xác nhận
                </button>

                </div>
                <div class="row" style="padding-bottom: 20px;">
                  <button type="submit" class="btn btn-secondary mt-3 btn-block"
                 style="font-size: 18px;" routerLink="/login">Trở về
                </button>
              </div>
              </form>
            </div>


          </div>


    </div>
  </div>
</div>
