
<div class="top" style="background-image: url(https://s3.cloud.cmctelecom.vn/tinhte1/2018/04/4282728_oqitDqs.jpg)">
  <div class="container">
    <nav class="navbar navbar-expand-lg text-light">
      <span>Contact Us: quangtan14011998@gmail.com</span>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="c">
          <li *ngIf="role == null">
            <a [routerLink]="['/login']">Đăng Nhập</a>/
            <a [routerLink]="['/register']">Đăng Ký</a>
          </li>
          <li *ngIf="role == 0" >
            <a [routerLink]="['/setting']" class="img-reponsive" *ngIf="!image">
              <img src="https://www.freeiconspng.com/uploads/customers-icon-3.png" alt="" id="avrtar1">
            </a>
            <a [routerLink]="['/setting']" class="img-reponsive" *ngIf="image">
              <img src="{{image}}" alt="" id="avrtar1">
            </a>
            <a [routerLink]="['/setting']" style="color: rgb(231, 179, 119); font-weight: 600;">{{username}}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

</div>
<router-outlet ></router-outlet>

<!--footer-->

<div class="footer" style="padding-top: 70px">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-md-3 footer-grid">
        <h3>About Us</h3>
        <p>
          Tuyển tập những bộ sách hay và mới nhất hiện nay. Đảm bảo trải nghiệm
          tốt cho người dùng.
        </p>
      </div>
      <div class="col-md-3 footer-grid">
        <h3>Menu</h3>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li>
            <a routerLink="/books/5de91ca4e3ef6d4d6856645d/categories/Văn Học"
              >Sách Tiếng Việt</a
            >
          </li>
          <li>
            <a
              routerLink="/books/5de763dec9e5f738e8b048aa/publishers/Nhà xuất bản Trẻ"
              >Nhà Xuất Bản</a
            >
          </li>
          <li>
            <a
              routerLink="/books/5de90654e004934a94e6937b/authors/Nguyễn Nhật Ánh"
              >Tác Giả</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3 footer-grid">
        <h3>Dịch Vụ</h3>
        <ul>
          <li><a href="https://www.facebook.com/koolsssssss">Liên Hệ</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-grid">
        <h3>Tài Khoản</h3>
        <ul>
          <li><a routerLink="/login" *ngIf="role!==0">Đăng nhập</a></li>
          <li><a routerLink="/setting" *ngIf="role == 0">Trang cá nhân</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="footer-bottom">
      <h2>
        <a routerLink="/home"
          ><b>T<br />H<br />E</b>Book Store<span>The Best Store Online</span></a
        >
      </h2>
      <p class="fo-para">
        Việc đọc rất quan trọng. Nếu bạn biết cách đọc, cả thế giới sẽ mở ra cho
        bạn
      </p>
      <ul class="social-fo">
        <li>
          <a href="https://www.facebook.com/koolsssssss" class="face"
            ><i class="fa fa-facebook" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a href="https://www.facebook.com/hung.lu1998" class="twi"
            ><i class="fa fa-twitter" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
      <div class="address">
        <div class="row justify-content-start">
          <div class="col-md-4 fo-grid1">
            <p><i class="fa fa-home" aria-hidden="true"></i>Võ Văn Ngăn,Thủ Đức</p>
          </div>
          <div class="col-md-4 fo-grid1">
            <p>
              <i class="fa fa-phone" aria-hidden="true"></i>+033 767 9090,
              +0399 677 744
            </p>
          </div>
          <div class="col-md-4 fo-grid1">
            <p>
              <a href="https://angular.io/"
                ><i class="fa fa-envelope-o" aria-hidden="true"></i
                >quangtan14011998@gmail.com</a
              >
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="background-color: rgb(42, 41, 41); padding-top: 10px; padding-bottom: 30px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-auto pr-0">
        <div class="img-mail">
          <img src="https://www.vexels.com/media/users/3/199912/isolated/thumb/6de2034e01af0553e61d2104a1d3d0f5-email-icon-flat-by-vexels.png" alt="">
        </div>
      </div>

      <div class="col-sm-auto">
        <div class="text-mail">
          <span>Đăng kí nhận bản tin từ Book Store</span>
          <p>Book Store luôn đồng hành cùng bạn</p>
        </div>
      </div>

      <div class="col-sm" style="padding-top: 50px; padding-left: 100px;">
        <div class="form-group row">
          <div class="col-sm-8" *ngIf="role !== null">
            <input type="text" class="form-control"  [(ngModel)]="email" name="email" readonly />
          </div>
          <div class="col-sm-8" *ngIf="role == null">

          </div>
          <div class="col-sm-4" *ngIf="notification==false && role !== null">
            <button class="btn btn-outline-info" (click)="noti()">Đăng ký</button>
          </div>
          <div class="col-sm-4" *ngIf="notification==true">
            <button class="btn btn-outline-info" disabled>Đã đăng ký</button>
          </div>
          <div class="col-sm-4" *ngIf="role == null">
            <button class="btn btn-outline-info" routerLink="/login">Đăng nhập</button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
